[submodule "apps/fivem-resources/ox_lib"]
	path = apps/fivem-resources/ox_lib
	url = https://github.com/overextended/ox_lib

[submodule "apps/fivem-resources/ox_inventory"]
	path = apps/fivem-resources/ox_inventory
	url = https://github.com/overextended/ox_inventory

[submodule "apps/fivem-resources/qbx_core"]
	path = apps/fivem-resources/qbx_core
	url = https://github.com/Qbox-project/qbx_core
